<% provide :title, sanitize(@title) %>
<% content_for :styles do %>
<style>
ul.row{
padding-left:0px;
}
</style>
<% end %>
<% content_for :scripts do %>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/highcharts.js"></script>
	<script type="text/template" id="chart_template">
			<li class="col-md-4">
				<div class="portlet solid blue">
					<div class="portlet-title">
						<div class="caption">
							{{= criteriumName }}
						</div>
            <div class="actions">
              <span class="number">Average: {{= criteriumAverage}}</span> 
            </div>
					</div>
					<div class="portlet-body" style="width:100%;height:100px;" id="{{= criterium }}-criterium">
					</div>
				</div>
			</li>
	</script>
  <script type="text/javascript">
    (function($, exports, undefined){
      exports.GradrStats = function(){
        var self = this;
        self.rawData = $.parseJSON($('#stats_json').text());
        self.allScores = _.flatten(_.map(_.pluck(self.rawData, 'scores'), function(o){return _.values(o);}));
        self.overAllAverage = (_.reduce(self.allScores, function(memo, num){ return memo+num; }, 0) / self.allScores.length).toFixed(2);
				self.criteria = _.keys(self.rawData[_.first(_.keys(self.rawData))].scores);
				self.criteriaSeries = function(){
					var series = {};
					_.each(self.criteria, function(criterium, id){
						series[id] = _.map(self.rawData, function(scorecard){
							return [new Date(scorecard.date).getTime(), scorecard.scores[criterium]];
						});
					});	
					return series;
				};
        self.averageForCriterium = function(criteriumIndex){
           var scores = _.pluck(self.criteriaSeries()[criteriumIndex], 1);
           return (_.reduce(scores, function(memo, num){ return memo+num; }, 0) / scores.length).toFixed(2);
        };
      }; 

			_.templateSettings = {
					interpolate: /\{\{\=(.+?)\}\}/g,
					evaluate: /\{\{(.+?)\}\}/g
			};
			var g = new GradrStats();
			var markup = '', template = $('#chart_template').html();
			_.each(g.criteriaSeries(), function(series, criterium){
				markup += _.template(template, {criterium: criterium, criteriumName: g.criteria[criterium],
                                          criteriumAverage: g.averageForCriterium(criterium)});
			});
			$('#series-charts').html(markup);
			_.each(g.criteriaSeries(), function(series, criterium){
					$('#'+criterium+'-criterium').sparkline(_.pluck(series, 1), 
								{type: 'bar', width:'100%', height:'100px', barColor: '#eaedf2',
								chartRangeMin:0, chartRangeMax:10, barWidth: 3});
			});
      var tooltipFormatter = function(sp, options, fields) {
          var format =  $.spformat('<div class="jqsfield"><span style="color: {{color}}">&#9679;</span> {{myprefix}} {{value}}</div>');
          var result = '';
          $.each(fields, function(i, field) {
              field.myprefix = options.get('seriesPrefixes')[i];
              result += format.render(field, options.get('tooltipValueLookups'), options);
          })
          return result;
      };
      var baseChartOptions = {
            chart:{type: 'spline', spacingTop:44}, 
            xAxis:{type: 'datetime'},
             yAxis:{title:{text:"Score"}, min:0, max:10},
            toolTip:{xDateFormat: '%m/%d/%Y'}};
      $("#all-criteria-chart").highcharts(
          $.extend({}, baseChartOptions, {title: "All scores",
          series: _.map(g.criteriaSeries(), 
              function(series, criterium){return {name: g.criteria[criterium], data: series};})}));
       $('#overall-average').text(g.overAllAverage);
    }(jQuery, window));
  </script>
<% end %>
<div class="hidden" id="stats_json">
  <%= @scorecards_data.to_json %>
</div>
<ul class="row" style="list-style:none;">
	<li class="span-md-12"> 
		<div class="portlet solid blue">
			<div class="portlet-title">
				<div class="caption">All Scores</div>
        <div class="actions">Overall Average: <span class="number" id="overall-average"></span></div>
			</div>
			<div class="portlet-body" id="all-criteria-chart">
			</div>
		</div>
	</li>
</ul>
<ul style="list-style:none;" class="row" id="series-charts"></ul>
