<% provide :title, sanitize(@title) %>
<% content_for :scripts do %>
	<script type="text/template" id="chart_template">
			<li class="col-md-4">
				<div class="portlet solid blue">
					<div class="portlet-title">
						<div class="caption">
							{{= criteriumName }} Scores
						</div>
					</div>
					<div class="portlet-body" style="width:100%;" id="{{= criterium }}-criterium">
					</div>
				</div>
			</li>
	</script>
  <script type="text/javascript">
    (function($, exports, undefined){
      exports.GradrStats = function(){
        var self = this;
        self.rawData = $.parseJSON($('#stats_json').text());
        self.allScores = _.flatten(_.map(_.pluck(self.rawData, 'scores'), function(o){return _.values(o);}));
        self.overAllAverage = _.reduce(self.allScores, function(memo, num){ return memo+num; }, 0) / self.allScores.length;
				self.criteria = _.keys(self.rawData[_.first(_.keys(self.rawData))].scores);
				self.criteriaSeries = function(){
					var series = {};
					_.each(self.criteria, function(criterium, id){
						series[id] = _.map(self.rawData, function(scorecard){
							return [new Date(scorecard.date).getTime(), scorecard.scores[criterium]];
						});
					});	
					return series;
				};
      }; 
			_.templateSettings = {
					interpolate: /\{\{\=(.+?)\}\}/g,
					evaluate: /\{\{(.+?)\}\}/g
			};
			var g = new GradrStats();
			var markup = '', template = $('#chart_template').html();
			_.each(g.criteriaSeries(), function(series, criterium){
				markup += _.template(template, {criterium: criterium, criteriumName: g.criteria[criterium]});
			});
			$('#series-charts').html(markup);
			_.each(g.criteriaSeries(), function(series, criterium){
					$('#'+criterium+'-criterium').sparkline(series, 
								{type: 'line', width:'100%', height:'100px;',
								min:0, max:10});
			});
			var popped = false;
			_.each(g.criteriaSeries(), function(series, criterium){
				var options = {fillColor: false, width:'100%', height:'120px', type:'line', composite:true};
				if (!popped){
					delete options['composite'];
					popped = true;
				}
				$('#all-criteria-chart').sparkline(series, options);
			});
    }(jQuery, window));
  </script>
<% end %>
<div class="hidden" id="stats_json">
  <%= @scorecards_data.to_json %>
</div>
<ul class="row" style="list-style:none;">
	<li class="span-md-12"> 
		<div class="portlet solid blue">
			<div class="portlet-title">
				<div class="caption">All Scores</div>
			</div>
			<div class="portlet-body" id="all-criteria-chart">
			</div>
		</div>
	</li>
</ul>
<ul style="list-style:none;" class="row" id="series-charts"></ul>
